* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.mainInput {
  width: 586px;
  height: 50px;
  border-radius: 5px;
  border: 0px;
  margin-top: 100px;
  padding-left: 10px;

  font-family: Verdana, Geneva, Tahoma, sans-serif, Tahoma, Geneva, Verdana,
    sans-serif, 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

.mainInput:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.button {
  border: 1px solid;
  border-color: rgb(115, 115, 115);
  border-radius: 5px;
  margin-top: 10px;
  height: 25px;
  width: 75px;
}

.noteList {
  height: auto;
  width: 600px;
  background-color: rgba(0, 0, 0, 0.411);
  margin-top: 20px;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.755);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.listElement {
  width: calc(100% - 14px);
  min-height: 15px;
  height: auto;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
}
